nav.nav
   a.nav__item.is-current(href='/') Home
   a.nav__item(href='/pictures') Pictures
   a.nav__item(href='/videos') Videos
   a.nav__item(href='/kittenoftheday') kitten of the day
   a.nav__item(href='/contacts') get in touch