extends layout
block header
  #slides.slides
    div.slides__box
      span.slides__text--right Meow... My name is Simba! <br> I'm looking for a new home!
      img(src='images/img3.jpg', alt='cat')
    div.slides__box
      span.slides__text--right This is my brother
      img(src='images/img4.jpg', alt='cat')
    div.slides__box
      span.slides__text--left Our sister Monica <br>
        small.pull-right 'scotish fold'
      img(src='images/img1.jpg', alt='cat')
    div.slides__box
      img(src='images/img2.jpg', alt='cat')
    div.slides__box
      span.slides__text--mid Meow... Meow... We like to play!
      img(src='images/img5.jpg', alt='cat')
    div.slides__box
      span.slides__text--right ...zzzzzz and sleep :)
      img(src='images/img6.jpg', alt='cat')

block content
  //video#bgvid(autoplay='', poster='https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg', loop='')
    // WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
    source(src='//demosthenes.info/assets/videos/polina.webm', type='video/webm')
    source(src='//demosthenes.info/assets/videos/polina.mp4', type='video/mp4')
  div.home
    h1.title.text-center.mb10 Scottish kittens breeding
    h2.title-small.text-center.mb40 We grow and sell kittens in Berlin

    .container
      .row
        .col-xs-6.col-sm-3
          a.item-preview(href="/kittens/gray")
            .item-preview__inn
              .item-preview__box: img.item-preview__img(src="images/cat1.png", alt="")
            strong.item-text Mr. Black
            span.price
              span.was €1000
              span.now €800
        .col-xs-6.col-sm-3
          a.item-preview(href="/kittens/simba")
            .item-preview__inn
              .item-preview__box: img.item-preview__img(src="images/cat2.png", alt="")
            strong.item-text Simba
            span.price
              span.was €1300
              span.now €900
        .col-xs-6.col-sm-3
          a.item-preview(href="/kittens/monica")
            .item-preview__inn
              .item-preview__box: img.item-preview__img(src="images/cat3.png", alt="")
            strong.item-text Xena
            span.price
              span.was €900
              span.now €700
        .col-xs-6.col-sm-3
          a.item-preview(href="/kittens/big")
            .item-preview__inn
              .item-preview__box: img.item-preview__img(src="images/cat4.png", alt="")
            strong.item-text Monica
            span.price
              span.was €900
              span.now €700
    .bg-gray
      .container
        h2.text-center.s30 Kittens were born on 31.07.2015
        p.text-center
          strong.color--red Currently only 4 left:
        div The <strong>Scottish Fold</strong> is a breed of domestic cat with a natural dominant-gene mutation that affects cartilage throughout the body, causing the ears to "fold", bending forward and down towards the front of their head, which gives the cat what is often described as an "owl-like" appearance.
          br
          |Originally called <strong>lop-eared</strong> or <strong>lops</strong> after the lop-eared rabbit, Scottish Fold became the breed's name in 1966. Depending on registries, longhaired Scottish Folds are varyingly known as Highland Fold, Scottish Fold Longhair, Longhair Fold and Coupari.
        div.text-right Wikipedia
        h2.text-center.s24 Gallery
        div.row
          div.col-xs-6
            a.fancybox(rel='gallery1', href='images/all/kittens-for-sale-1.jpg', title='Sgwd Ddwli Uchaf, Brecon Waterfalls (technodean2000)')
              img(src='images/all/thumbs/kittens-for-sale-1.jpg', echo-data="", alt='')
          div.col-xs-6
            a.fancybox(rel='gallery1', href='images/all/kittens-for-sale-2.jpg', title='Sgwd Ddwli Uchaf, Brecon Waterfalls (technodean2000)')
              img(src='images/all/thumbs/kittens-for-sale-2.jpg', echo-data="", alt='')
          div.col-xs-6
            a.fancybox(rel='gallery1', href='images/all/kittens-for-sale-3.jpg', title='Sgwd Ddwli Uchaf, Brecon Waterfalls (technodean2000)')
              img(src='images/all/thumbs/kittens-for-sale-3.jpg', echo-data="", alt='')
          div.col-xs-6
            a.fancybox(rel='gallery1', href='images/all/kittens-for-sale-4.jpg', title='Sgwd Ddwli Uchaf, Brecon Waterfalls (technodean2000)')
              img(src='images/all/thumbs/kittens-for-sale-4.jpg', echo-data="", alt='')
          div.col-xs-6
            a.fancybox(rel='gallery1', href='images/all/kittens-for-sale-5.jpg', title='Sgwd Ddwli Uchaf, Brecon Waterfalls (technodean2000)')
              img(src='images/all/thumbs/kittens-for-sale-5.jpg', echo-data="", alt='')
          div.col-xs-6
            a.fancybox(rel='gallery1', href='images/all/kittens-for-sale-6.jpg', title='Sgwd Ddwli Uchaf, Brecon Waterfalls (technodean2000)')
              img(src='images/all/thumbs/kittens-for-sale-6.jpg', echo-data="", alt='')
          div.col-xs-6
            a.fancybox(rel='gallery1', href='images/all/kittens-for-sale-7.jpg', title='Sgwd Ddwli Uchaf, Brecon Waterfalls (technodean2000)')
              img(src='images/all/thumbs/kittens-for-sale-7.jpg', echo-data="", alt='')
          div.col-xs-6
            a.fancybox(rel='gallery1', href='images/all/kittens-for-sale-8.jpg', title='Sgwd Ddwli Uchaf, Brecon Waterfalls (technodean2000)')
              img(src='images/all/thumbs/kittens-for-sale-8.jpg', echo-data="", alt='')
          div.col-xs-6
            a.fancybox(rel='gallery1', href='images/all/kittens-for-sale-9.jpg', title='Sgwd Ddwli Uchaf, Brecon Waterfalls (technodean2000)')
              img(src='images/all/thumbs/kittens-for-sale-9.jpg', echo-data="", alt='')
          div.col-xs-6
            a.fancybox(rel='gallery1', href='images/all/kittens-for-sale-10.jpg', title='Sgwd Ddwli Uchaf, Brecon Waterfalls (technodean2000)')
              img(src='images/all/thumbs/kittens-for-sale-10.jpg', echo-data="", alt='')
