extends layout

block content
  .day-pic
    img(src="/images/day/kittenoftheday.jpg", alt="")
    div.day-pic__text If you liked any kitten <br /> and would like to know more. <br> Please email us: &nbsp;
      a.link--underlined(href="mailto:scotishkitten@gmail.com") scotishkitten@gmail.com
