extends layout

block content
  .bg-gray
    .container
      h1 this is first kitten
      .row
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-1.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-1.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-2.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-2.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-3.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-3.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-4.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-4.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-5.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-5.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-6.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-6.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-7.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-7.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-8.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-8.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-9.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-9.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-10.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-10.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-11.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-11.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-12.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-12.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-13.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-13.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-14.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-14.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-15.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-15.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-16.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-16.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-17.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-17.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-18.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-18.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/simba/kitten-scotish-fold-19.jpg', title='')
            img(src='/images/thumbs/simba/kitten-scotish-fold-19.jpg', echo-data="", alt='')
      h1 this is second kitten
      .row
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-1.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-1.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-2.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-2.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-3.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-3.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-4.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-4.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-5.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-5.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-6.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-6.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-7.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-7.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-8.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-8.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-9.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-9.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-10.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-10.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-11.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-11.jpg', echo-data="", alt='')

      h1 this is third kitten
      .row
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/prjamaja/british-kitten-buy-1.jpg', title='')
            img(src='/images/thumbs/prjamaja/british-kitten-buy-1.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/prjamaja/british-kitten-buy-2.jpg', title='')
            img(src='/images/thumbs/prjamaja/british-kitten-buy-2.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/prjamaja/british-kitten-buy-3.jpg', title='')
            img(src='/images/thumbs/prjamaja/british-kitten-buy-3.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/prjamaja/british-kitten-buy-4.jpg', title='')
            img(src='/images/thumbs/prjamaja/british-kitten-buy-4.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/prjamaja/british-kitten-buy-5.jpg', title='')
            img(src='/images/thumbs/prjamaja/british-kitten-buy-5.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/prjamaja/british-kitten-buy-9.jpg', title='')
            img(src='/images/thumbs/prjamaja/british-kitten-buy-9.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/prjamaja/british-kitten-buy-10.jpg', title='')
            img(src='/images/thumbs/prjamaja/british-kitten-buy-10.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/prjamaja/british-kitten-buy-12.jpg', title='')
            img(src='/images/thumbs/prjamaja/british-kitten-buy-12.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/prjamaja/british-kitten-buy-14.jpg', title='')
            img(src='/images/thumbs/prjamaja/british-kitten-buy-14.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/prjamaja/british-kitten-buy-15.jpg', title='')
            img(src='/images/thumbs/prjamaja/british-kitten-buy-15.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/prjamaja/british-kitten-buy-16.jpg', title='')
            img(src='/images/thumbs/prjamaja/british-kitten-buy-16.jpg', echo-data="", alt='')
      h1 this is fourth kitten
      .row
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-1.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-1.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-2.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-2.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-3.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-3.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-4.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-4.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-5.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-5.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-6.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-6.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-7.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-7.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-8.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-8.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-9.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-9.jpg', echo-data="", alt='')

