.home {
  padding: 30px 0;
}

.item-preview {
  display: block;
  text-align: center;
  width: 250px;
  height: 250px;
  border-radius: 500px;
  position: relative;
  background: #fafafa;
  padding: 15px;
  margin: 100px 0;
  &:hover, &:focus {
    .item-preview__img {
      transform: scale(1.03);
      bottom: 5px;
    }
    .item-text {
      text-decoration: underline;
    }
  }
}

.item-preview__inn {
  background: #fff;
  padding: 5px;
  border-radius: 250px;
  display: block;
}

.item-preview__box {
  background: #d2d2d2;
  border-radius: 250px;
  width: 210px;
  height: 210px;
  position: relative;
}

.item-preview__img {
  border-radius: 0 0 250px 250px;
  position: absolute;
  left: 0;
  bottom: 0;
  @include transition(all, .3s);
}

.item-text {
  margin: 30px 0 0;
  display: block;
  font-size: 30px;
  color: $gray;
}

.price {

  display: block;
  line-height: 1;
  font-weight: bold;
  position: relative;
  margin-top: 5px;
  .was {
    font-size: 14px;
    position: relative;
    top: 0px;
    left: -5px;
    text-decoration: line-through;
    color: #000;
  }
  .now {
    font-size: 24px;
    color: red;
  }
}

.bg-gray {
  background: #f6f6f6;
  border-top: 1px solid #eeeeee;
  padding: 30px 0;

  .fancybox {
    display: block;
    img {
      margin: 0 auto 20px;
      display: block;
      border-radius: 10px;
    }
  }
}
