extends ../layout

block content
  .bg-gray
    .container
      h1= title
      .row
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-1.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-1.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-2.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-2.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-3.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-3.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-4.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-4.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-5.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-5.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-6.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-6.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-7.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-7.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-8.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-8.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/tolstaja/kitten-british-fold-buty-9.jpg', title='')
            img(src='/images/thumbs/tolstaja/kitten-british-fold-buty-9.jpg', echo-data="", alt='')