extends ../layout

block content
  .bg-gray
    .container
      h1= title
      .row
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-1.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-1.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-2.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-2.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-3.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-3.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-4.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-4.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-5.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-5.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-6.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-6.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-7.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-7.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-8.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-8.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-9.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-9.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-10.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-10.jpg', echo-data="", alt='')
        div.col-xs-3
          a.fancybox(rel='gallery1', href='/images/cats/gray/kittens-gray-buy-11.jpg', title='')
            img(src='/images/thumbs/gray/kittens-gray-buy-11.jpg', echo-data="", alt='')
